<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: SimSun, fangzhengcuqian, serif;
        }
        * {
            padding: 0;
            margin: 0;
        }
        .container {
        }
        .title, .subtitle {
            margin: 0;
        }
        .image {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="container">
    <h5 class="title" id="titlePlaceholder">防晒喷防晒防晒防晒防晒防晒防晒防晒防/120ml/60%/cas002111111防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒防晒</h5>
    <img th:src="${imgPath}" width="100px" height="100px" ></img>
    <h5 class="subtitle" id="subtitlePlaceholder">dawdawdwadawdw132</h5>
</div>
</body>
</html>
